@use "../../assets/scss/helper/variables" as *;
@use "../../assets/scss/helper/mixins" as *;

.chat_room {
  overflow-x: hidden;
  overflow-y: auto;
  height: 100%;
  padding: 1.125rem 1rem;
  background-color: $paleGrey;
}
