@use "../../assets/scss/helper/variables" as *;
@use "../../assets/scss/helper/mixins" as *;

.chat {
  &_room {
    height: calc(100% - 3.125rem);
    background-color: $white;
  }

  &_content {
    height: 100%;
    padding-top: 44px;
    box-sizing: border-box;

    &.room {
      background-color: $paleGrey;
    }
  }
}
