// color
$black: #000;
$white: #fff;
$purple: #5b36ac;

$darkBlack: #363a42;
$charcoalGrey: #464052;
$battleshipGrey: #74747E;
$coolGrey: #A4A6B0;
$paleLilac: #E6E6EB;
$paleGrey: #F9F9FB;
$lightGrey: #363a42;

$header-menu-z-index: 30;
$header-title-z-index: 30;
